.homepage{
       background-size: cover;
    height: 100vh;
    background-image: url('https://t3.ftcdn.net/jpg/05/88/36/44/240_F_588364497_WDt19xfoZN5h4wEnEvBsz7UKqS9LDb0l.jpg');
     background-repeat: no-repeat;
    background-attachment: fixed;
}
.homedetails{
    font-size:5rem;
    color:white
}
h3{
    color: white;
}