
.navbar {
  background-color: #333; 
  color: white; 
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  position: sticky;
}
.navbardetails{
    color: white;
}
.details{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.navbar div {
  cursor: pointer; 
}

.navbar div:hover {
  color: #007bff;
}
