.portfolio {
    background-color:gray;
    padding: 20px;
    width: 100vw;
   
}

.portfolio h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.inerdiv {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    margin-bottom: 10px;
}
.outerdiv{
    display: flex;
    justify-content: space-between;

}
.title{
    font-size: x-large;
    color: black;
}
.image{
    width: 20vw;
}
.discription{
    color: black;
}
