.portfolio {
    background-color:gray;
    padding: 20px;
     height:500px;
   
}

.portfolio h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.inerdiv {
    background-color:black;
    border-radius: 50px;
    padding: 15px;
    width: 300px;
    height:400px;
    margin-bottom: 10px;
}
.outerdiv{
    display: flex;
    justify-content: space-between;

}
.title{
    font-size: x-large;
    color: black;
}
.image{
    width: 20vw;
    height: 20vh;
}
.discription{
    color:white;
    font-size: large;
}
